In [60]:
from leagueleaders import LeagueLeaders
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [157]:
start_time = time.time()
category = 'passing'
start_season = 2013
df_decade = pd.DataFrame()

for x in range(10):
    df = LeagueLeaders(category, str(start_season)).get_data()
    df['season'] = start_season
    df_decade = pd.concat([df_decade, df[:10]])
    start_season += 1
    
end_time = time.time()
print(end_time - start_time)

271.8894419670105

In [158]:
df_decade.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 9
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  100 non-null    object
 1   Tm      100 non-null    object
 2   Age     100 non-null    object
 3   Pos     100 non-null    object
 4   G       100 non-null    object
 5   GS      100 non-null    object
 6   QBrec   100 non-null    object
 7   Cmp     100 non-null    object
 8   Att     100 non-null    object
 9   Cmp%    100 non-null    object
 10  Yds     100 non-null    object
 11  TD      100 non-null    object
 12  TD%     100 non-null    object
 13  Int     100 non-null    object
 14  Int%    100 non-null    object
 15  1D      100 non-null    object
 16  Succ%   100 non-null    object
 17  Lng     100 non-null    object
 18  Y/A     100 non-null    object
 19  AY/A    100 non-null    object
 20  Y/C     100 non-null    object
 21  Y/G     100 non-null    object
 22  Rate    100 non-null    object
 23  QBR     100 non-null    object
 24  Sk      100 non-null    object
 25  Yds     100 non-null    object
 26  Sk%     100 non-null    object
 27  NY/A    100 non-null    object
 28  ANY/A   100 non-null    object
 29  4QC     100 non-null    object
 30  GWD     100 non-null    object
 31  season  100 non-null    int64
dtypes: int64(1), object(31)
memory usage: 25.8+ KB

In [159]:
df_decade = df_decade.reset_index().rename(columns={'index': 'SRank'})
df_decade['Player'] = df_decade['Player'].str.replace('+', '', regex=True).str.replace('*', '', regex=True)
df_decade['SRank'] += 1

,SRank,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Rate,QBR,Sk,Yds,Sk%,NY/A,ANY/A,4QC,GWD,season
0,1,Peyton Manning,DEN,37,QB,16,16,13-3-0,450,659,...,115.1,79.0,18,120,2.7,7.91,8.87,2,2,2013
1,2,Drew Brees,NOR,34,QB,16,16,11-5-0,446,650,...,104.7,69.1,37,244,5.4,7.16,7.51,2,2,2013
2,3,Matthew Stafford,DET,25,QB,16,16,7-9-0,371,634,...,84.2,53.5,23,168,3.5,6.82,6.40,2,3,2013
3,4,Matt Ryan,ATL,28,QB,16,16,4-12-0,439,651,...,89.6,67.5,44,298,6.3,6.07,5.72,1,1,2013
4,5,Philip Rivers,SDG,32,QB,16,16,9-7-0,378,544,...,105.5,75.1,30,150,5.2,7.54,7.79,4,4,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,Jared Goff,DET,28,QB,17,17,9-8-0,382,587,...,99.3,61.1,23,156,3.8,7.02,7.45,3,3,2022
96,7,Josh Allen,BUF,26,QB,16,16,13-3-0,359,567,...,96.6,71.4,33,162,5.5,6.87,6.99,3,4,2022
97,8,Geno Smith,SEA,32,QB,17,17,9-8-0,399,572,...,100.9,60.8,46,348,7.4,6.37,6.54,2,3,2022
98,9,Trevor Lawrence,JAX,23,QB,17,17,9-8-0,387,584,...,95.2,54.5,27,184,4.4,6.43,6.66,3,2,2022
99,10,Jalen Hurts,PHI,24,QB,15,15,14-1-0,306,460,...,101.5,66.4,38,231,7.6,6.97,7.31,1,2,2022

In [160]:
df_decade

,SRank,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Rate,QBR,Sk,Yds,Sk%,NY/A,ANY/A,4QC,GWD,season
0,1,Peyton Manning,DEN,37,QB,16,16,13-3-0,450,659,...,115.1,79.0,18,120,2.7,7.91,8.87,2,2,2013
1,2,Drew Brees,NOR,34,QB,16,16,11-5-0,446,650,...,104.7,69.1,37,244,5.4,7.16,7.51,2,2,2013
2,3,Matthew Stafford,DET,25,QB,16,16,7-9-0,371,634,...,84.2,53.5,23,168,3.5,6.82,6.40,2,3,2013
3,4,Matt Ryan,ATL,28,QB,16,16,4-12-0,439,651,...,89.6,67.5,44,298,6.3,6.07,5.72,1,1,2013
4,5,Philip Rivers,SDG,32,QB,16,16,9-7-0,378,544,...,105.5,75.1,30,150,5.2,7.54,7.79,4,4,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,6,Jared Goff,DET,28,QB,17,17,9-8-0,382,587,...,99.3,61.1,23,156,3.8,7.02,7.45,3,3,2022
96,7,Josh Allen,BUF,26,QB,16,16,13-3-0,359,567,...,96.6,71.4,33,162,5.5,6.87,6.99,3,4,2022
97,8,Geno Smith,SEA,32,QB,17,17,9-8-0,399,572,...,100.9,60.8,46,348,7.4,6.37,6.54,2,3,2022
98,9,Trevor Lawrence,JAX,23,QB,17,17,9-8-0,387,584,...,95.2,54.5,27,184,4.4,6.43,6.66,3,2,2022
99,10,Jalen Hurts,PHI,24,QB,15,15,14-1-0,306,460,...,101.5,66.4,38,231,7.6,6.97,7.31,1,2,2022

In [161]:
qb_appearances = df_decade['Player'].value_counts()
qb_appearances

Tom Brady             9
Matt Ryan             8
Philip Rivers         8
Kirk Cousins          7
Matthew Stafford      6
Aaron Rodgers         5
Patrick Mahomes       5
Drew Brees            5
Ben Roethlisberger    4
Jared Goff            4
Russell Wilson        4
Justin Herbert        3
Josh Allen            3
Eli Manning           3
Andrew Luck           3
Carson Palmer         3
Joe Burrow            2
Ryan Tannehill        2
Dak Prescott          2
Derek Carr            2
Peyton Manning        2
Geno Smith            1
Deshaun Watson        1
Trevor Lawrence       1
Joe Flacco            1
Carson Wentz          1
Jameis Winston        1
Alex Smith            1
Blake Bortles         1
Andy Dalton           1
Jalen Hurts           1
Name: Player, dtype: int64

In [191]:
# Obter times de cada jogaador
player_teams = df_decade.groupby('Player')['Tm'].unique().reset_index(name='Teams')

# Calcular o número de times diferentes para cada jogador
player_teams['Unique_Teams'] = player_teams['Teams'].apply(len)

# Filtrar jogadores que estiveram em mais de um time diferente
multi_team_players = player_teams[player_teams['Unique_Teams'] > 1].sort_values('Unique_Teams', ascending=False)

multi_team_players

              Player            Teams  Unique_Teams
26     Philip Rivers  [SDG, LAC, IND]             3
9         Derek Carr       [OAK, LVR]             2
16        Jared Goff       [LAR, DET]             2
21      Kirk Cousins       [WAS, MIN]             2
23  Matthew Stafford       [DET, LAR]             2
29         Tom Brady       [NWE, TAM]             2