In [24]:
from leagueleaders import LeagueLeaders
import numpy as np
import pandas as pd
import time

In [25]:
start_time = time.time()
category = 'passing'
start_season = 2013
df_decade = pd.DataFrame()

for x in range(10):
    df = LeagueLeaders(category, str(start_season)).get_data()
    df['season'] = start_season
    df_decade = pd.concat([df_decade, df[:10]])
    start_season += 1
    
end_time = time.time()
print(end_time - start_time)

267.2269835472107

In [14]:
df_decade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  1002 non-null   object
 1   Tm      1002 non-null   object
 2   Age     1002 non-null   object
 3   Pos     1002 non-null   object
 4   G       1002 non-null   object
 5   GS      1002 non-null   object
 6   QBrec   1002 non-null   object
 7   Cmp     1002 non-null   object
 8   Att     1002 non-null   object
 9   Cmp%    1002 non-null   object
 10  Yds     1002 non-null   object
 11  TD      1002 non-null   object
 12  TD%     1002 non-null   object
 13  Int     1002 non-null   object
 14  Int%    1002 non-null   object
 15  1D      1002 non-null   object
 16  Succ%   1002 non-null   object
 17  Lng     1002 non-null   object
 18  Y/A     1002 non-null   object
 19  AY/A    1002 non-null   object
 20  Y/C     1002 non-null   object
 21  Y/G     1002 non-null   object
 22  Rate    1002 non-null   object
 23  QBR     1002 non-null   object
 24  Sk      1002 non-null   object
 25  Yds     1002 non-null   object
 26  Sk%     1002 non-null   object
 27  NY/A    1002 non-null   object
 28  ANY/A   1002 non-null   object
 29  4QC     1002 non-null   object
 30  GWD     1002 non-null   object
 31  season  1030 non-null   int64
dtypes: int64(1), object(31)
memory usage: 257.6+ KB

In [22]:
df_decade

,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Rate,QBR,Sk,Yds,Sk%,NY/A,ANY/A,4QC,GWD,season
0,Peyton Manning*+,DEN,37,QB,16,16,13-3-0,450,659,68.3,...,115.1,79.0,18,120,2.7,7.91,8.87,2,2,2013
1,Drew Brees*,NOR,34,QB,16,16,11-5-0,446,650,68.6,...,104.7,69.1,37,244,5.4,7.16,7.51,2,2,2013
2,Matthew Stafford,DET,25,QB,16,16,7-9-0,371,634,58.5,...,84.2,53.5,23,168,3.5,6.82,6.40,2,3,2013
3,Matt Ryan,ATL,28,QB,16,16,4-12-0,439,651,67.4,...,89.6,67.5,44,298,6.3,6.07,5.72,1,1,2013
4,Philip Rivers*,SDG,32,QB,16,16,9-7-0,378,544,69.5,...,105.5,75.1,30,150,5.2,7.54,7.79,4,4,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,Christian Kirk,JAX,26,WR,17,17,,0,1,0.0,...,39.6,9.9,0,0,0.0,0.00,0.00,,,2022
1026,Cooper Kupp,LAR,29,WR,9,9,,0,1,0.0,...,39.6,3.0,0,0,0.0,0.00,0.00,,,2022
1027,James Proche,BAL,26,WR,15,0,,0,1,0.0,...,0.0,0.0,0,0,0.0,0.00,-45.00,,,2022
1028,Tommy Townsend*+,KAN,26,P,17,0,,0,1,0.0,...,39.6,,0,0,0.0,0.00,0.00,,,2022
1029,Garrett Wilson,NYJ,22,WR,17,12,,0,1,0.0,...,39.6,0.8,0,0,0.0,0.00,0.00,,,2022